body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

ul {
    font-family: Arial, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* Estilo para pantallas pequeñas: coloca los elementos de la lista en bloque */
@media screen and (max-width: 600px) {
    li {
        float: none;
        width: 100%;
    }
}